PORT=3000
MONGODB_URI=tu_cadena_de_conexion_mongodb
RESEND_API_KEY=tu_api_key_de_resend
NOTIFY_EMAIL=tu_email@ejemplo.com
FROM_EMAIL=onboarding@resend.dev
ADMIN_PASSWORD=cambia_esta_contraseña
ALLOWED_ORIGIN=https://gabi37smx.github.io